<h2>Edit {{name}}</h2>

<form action="/stages/edit/{{_id}}" method="post">
<div class="form-div">
  <label for="name">name:</label>
  <input type="text" name="name" id="name" value="{{name}}">
</div>

<div class="form-div">
  <label for="location">Location:</label>
  <input type="text" name="location" id="location" value="{{location}}">
</div>

<div class="form-div">
  <label for="comments">Comments:</label>
  <input type="text" name="comments" id="comments" value="{{comments}}">
</div>

<div class="form-div">
  <label for="uploadPhoto">Upload Photo:</label>
  <input type="text" name="uploadPhoto" id="uploadPhoto" value="{{uploadPhoto}}">
</div>

  <button type="submit" class="btn">Edit {{name}}</button>
</form>